{"openapi":"3.1.0","info":{"title":"Netrows API","version":"2.8.0","description":"Professional Data Enrichment API - Access LinkedIn, X (Twitter), TikTok, Instagram, Facebook, Threads, Reddit, Crunchbase, Glassdoor, and 25+ data sources at scale.\n\n## Overview\n\nNetrows provides enterprise-grade access to professional and social data through a simple REST API. Built for developers who need reliable, high-quality data without the complexity of managing multiple data sources.\n\n**Key Features:**\n- **250+ Endpoints** - Comprehensive coverage across LinkedIn, X (Twitter), TikTok, Instagram, Facebook, Threads, Google, Google Maps, Amazon, Reddit, Crunchbase, Glassdoor, Bluesky, Trustpilot, Capterra, G2, Upwork, BuiltWith, Email Finder, Airbnb, Booking.com, GitHub, Majestic SEO, SimilarWeb, Substack, TradingView, TripAdvisor, Wellfound, Yelp, Shopify, YouTube, Zillow, Semrush, Indeed, Y Combinator, Product Hunt, Pinterest, Twitch, Kick, Snapchat, Fiverr, App Store, and Radar Monitoring\n- **Real-time Data** - Fresh data with sub-second response times\n- **Enterprise Security** - SOC 2 compliant with end-to-end encryption\n- **99.9% Uptime** - Production-ready infrastructure with automatic failover\n- **Flexible Pricing** - Subscription plans starting at €49/month with automatic overage billing\n\n## Quick Start\n\nGet started in under 60 seconds:\n\n1. **Get your API key** from the [dashboard](https://netrows.com/dashboard)\n2. **Make your first request:**\n\n```bash\ncurl \"https://api.netrows.com/v1/people/profile?username=chandra-dunn\" \\\n  -H \"Authorization: Bearer YOUR_API_KEY\"\n```\n\n3. **Start building** - Explore 250+ endpoints in the sidebar\n\n## Authentication\n\nAll endpoints require authentication via API key. Include your API key in the `Authorization` header as a Bearer token:\n\n```bash\nAuthorization: Bearer YOUR_API_KEY\n```\n\nReplace `YOUR_API_KEY` with your actual API key from the dashboard.\n\n**Security Best Practices:**\n- Never expose your API key in client-side code\n- Rotate keys regularly from the dashboard\n- Use environment variables to store keys\n- Monitor usage for unusual activity\n\n## Rate Limits\nRate limits are enforced per user account (not per API key):\n- **Starter Plan** (€49/month): 50 requests/minute\n- **Growth Plan** (€299/month): 150 requests/minute\n- **Enterprise** (€1,299/month): 500 requests/minute\n\n## Credits\nMost API calls consume 1 credit per request. Exceptions:\n- **Company Insights** (LinkedIn): 10 credits\n- **Crunchbase** (Person/Company): 5 credits\n- **Glassdoor** (Company): 5 credits\n- **Email Finder** (by-name, by-domain, by-linkedin): 5 credits\n- **Email Finder** (decision-maker): 10 credits\n- **X (Twitter) endpoints**: 1-50 credits depending on data volume\n- **Airbnb** (Search/Listing): 5 credits\n- **Booking.com** (Search/Hotel): 5 credits\n- **TripAdvisor** (Search/Detail): 5 credits\n- **Yelp** (Search/Details/Reviews): 5 credits\n- **Majestic SEO** (Site Overview): 5 credits\n- **SimilarWeb** (Website Overview): 5 credits\n- **Wellfound** (Company/Jobs/Person): 5 credits\n- **Zillow** (Search/Property): 5 credits\n- **GitHub** (User/Repo/Org/Repos): 1 credit\n- **Substack** (Profile/Posts/Post/Comments): 1 credit\n- **TradingView** (Search/Scanner/Quote/Financials): 1 credit\n- **Shopify** (Store/Products/Collections/Search/Pages/Blogs): 1 credit\n- **YouTube** (Channel/Videos/Shorts/Comments/Transcript/Search): 1 credit\n\nCredits are deducted regardless of result (including not found responses).\n\n## Overage Billing\nIf you run out of monthly credits, you can continue using the API. Extra usage is automatically billed at your plan's overage rate:\n- **Starter**: €0.006/credit\n- **Growth**: €0.004/credit\n- **Enterprise**: €0.003/credit","contact":{"email":"support@netrows.com","url":"https://netrows.com"},"license":{"name":"Proprietary","url":"https://netrows.com/terms"}},"servers":[{"url":"https://api.netrows.com/v1","description":"Production Server"},{"url":"http://localhost:3000/api/v1","description":"Local Development"}],"security":[{"ApiKeyAuth":[]}],"components":{"securitySchemes":{"ApiKeyAuth":{"type":"http","scheme":"bearer","bearerFormat":"API Key","description":"API key for authentication. Get your API key from https://netrows.com/dashboard"}},"schemas":{"Error":{"type":"object","properties":{"error":{"type":"string","description":"Error message"},"success":{"type":"boolean","description":"Success status"}}},"WebhookChange":{"type":"object","description":"A single field change detected in a monitored profile or company","properties":{"field":{"type":"string","description":"The name of the field that changed (e.g., headline, positions, staffCount)","example":"headline"},"oldValue":{"description":"The previous value of the field. Can be a string, number, array, or object depending on the field","example":"Software Engineer at Company A"},"newValue":{"description":"The new value of the field. Can be a string, number, array, or object depending on the field","example":"Senior Engineer at Company B"}},"required":["field","oldValue","newValue"]},"ProfileChangedWebhook":{"type":"object","description":"Webhook payload sent when a monitored LinkedIn profile changes. For Discord and Slack webhook URLs, the payload is automatically formatted with embeds/blocks.","properties":{"event":{"type":"string","enum":["profile.changed"],"description":"The event type","example":"profile.changed"},"timestamp":{"type":"string","format":"date-time","description":"ISO 8601 timestamp of when the change was detected","example":"2026-03-24T12:00:00.000Z"},"profile":{"type":"object","properties":{"username":{"type":"string","description":"LinkedIn username of the profile","example":"johndoe"},"url":{"type":"string","description":"Full LinkedIn profile URL","example":"https://linkedin.com/in/johndoe"}},"required":["username","url"]},"changes":{"type":"array","description":"List of fields that changed","items":{"$ref":"#/components/schemas/WebhookChange"}},"summary":{"type":"string","description":"Human-readable summary of all changes","example":"2 fields changed: headline, positions"},"newSnapshot":{"type":"object","description":"The full current profile data after the change (same structure as the Get Profile endpoint response)"}},"required":["event","timestamp","profile","changes","summary","newSnapshot"]},"CompanyChangedWebhook":{"type":"object","description":"Webhook payload sent when a monitored company changes. For Discord and Slack webhook URLs, the payload is automatically formatted with embeds/blocks.","properties":{"event":{"type":"string","enum":["company.changed"],"description":"The event type","example":"company.changed"},"timestamp":{"type":"string","format":"date-time","description":"ISO 8601 timestamp of when the change was detected","example":"2026-03-24T12:00:00.000Z"},"company":{"type":"object","properties":{"username":{"type":"string","description":"LinkedIn company username","example":"acme-corp"},"url":{"type":"string","description":"Full LinkedIn company URL","example":"https://linkedin.com/company/acme-corp"}},"required":["username","url"]},"changes":{"type":"array","description":"List of fields that changed","items":{"$ref":"#/components/schemas/WebhookChange"}},"summary":{"type":"string","description":"Human-readable summary of all changes","example":"1 field changed: staffCount"},"newSnapshot":{"type":"object","description":"The full current company data after the change (same structure as the Get Company endpoint response)"}},"required":["event","timestamp","company","changes","summary","newSnapshot"]}},"responses":{"UnauthorizedError":{"description":"Invalid or missing API key","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":"Invalid API key"}}}},"InsufficientCredits":{"description":"Insufficient credits","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":"Insufficient credits"}}}},"BadRequest":{"description":"Bad request - missing or invalid parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":"Parameter \"username\" is required"}}}},"NotFound":{"description":"Resource not found or cannot be accessed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":"Profile not found or cannot be accessed"}}}},"RateLimitExceeded":{"description":"Rate limit exceeded - too many requests","headers":{"X-RateLimit-Limit":{"schema":{"type":"integer"},"description":"Your account rate limit per minute"},"X-RateLimit-Remaining":{"schema":{"type":"integer"},"description":"Requests remaining in current window"},"Retry-After":{"schema":{"type":"integer"},"description":"Seconds until rate limit resets"}},"content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"code":{"type":"string"},"retryAfter":{"type":"integer"},"documentation":{"type":"string"}}},"example":{"message":"Rate limit exceeded. Please wait before making more requests.","code":"RATE_LIMIT_EXCEEDED","retryAfter":45,"documentation":"https://netrows.com/docs#rate-limits"}}}}}},"x-tagGroups":[{"name":"Radar Monitoring","tags":["Radar"],"x-displayName":"Radar Monitoring","x-logo":{"url":"/radar-logo.svg","altText":"Radar"}},{"name":"LinkedIn Data","tags":["LinkedIn - People","LinkedIn - Companies","LinkedIn - Jobs","LinkedIn - Posts","LinkedIn - Articles","LinkedIn - Ads","LinkedIn - Locations"],"x-logo":{"url":"/platforms/linkedin.svg","altText":"LinkedIn"}},{"name":"X (Twitter) Data","tags":["X - Users","X - Tweets","X - Lists","X - Communities","X - Trends","X - Spaces"],"x-logo":{"url":"/platforms/x.svg","altText":"X (Twitter)"}},{"name":"Crunchbase Data","tags":["Crunchbase - People","Crunchbase - Companies"],"x-logo":{"url":"/crunchbase-logo.svg","altText":"Crunchbase"}},{"name":"Glassdoor Data","tags":["Glassdoor - Company"],"x-logo":{"url":"/glassdoor-logo.svg","altText":"Glassdoor"}},{"name":"FlightRadar24 Data","tags":["FlightRadar24 - Live","FlightRadar24 - Airports"],"x-logo":{"url":"/platforms/flights.svg","altText":"FlightRadar24"}},{"name":"Yellow Pages Data","tags":["Yellow Pages - Search"],"x-logo":{"url":"/platforms/yellow-pages.svg","altText":"Yellow Pages"}},{"name":"eMAG Data","tags":["eMAG - Products","eMAG - Reviews","eMAG - Sellers"],"x-logo":{"url":"/platforms/emag.svg","altText":"eMAG"}},{"name":"Bluesky Data","tags":["Bluesky - Profiles","Bluesky - Posts","Bluesky - Social"],"x-logo":{"url":"/platforms/bluesky.svg","altText":"Bluesky"}},{"name":"Reddit Data","tags":["Reddit - Subreddit","Reddit - Comments","Reddit - User","Reddit - Search","Reddit - Subreddits"],"x-logo":{"url":"/reddit-logo.svg","altText":"Reddit"}},{"name":"Trustpilot Data","tags":["Trustpilot - Reviews"],"x-logo":{"url":"/trustpilot-logo.svg","altText":"Trustpilot"}},{"name":"TikTok Data","tags":["TikTok - Users","TikTok - Videos","TikTok - Search","TikTok - Trending","TikTok - Music"],"x-logo":{"url":"/tiktok-logo.svg","altText":"TikTok"}},{"name":"TikTok Shop Data","tags":["TikTok - Shop"],"x-logo":{"url":"/tiktok-shop-logo.svg","altText":"TikTok Shop"}},{"name":"Instagram Data","tags":["Instagram - Profiles"],"x-logo":{"url":"/platforms/instagram.svg","altText":"Instagram"}},{"name":"Facebook Data","tags":["Facebook - Profiles","Facebook - Ad Library"],"x-logo":{"url":"/platforms/facebook.svg","altText":"Facebook"}},{"name":"Threads Data","tags":["Threads - Profiles","Threads - Search"],"x-logo":{"url":"/platforms/threads.svg","altText":"Threads"}},{"name":"Google Data","tags":["Google - Search","Google - Maps"],"x-logo":{"url":"/platforms/google.svg","altText":"Google"}},{"name":"Amazon Data","tags":["Amazon - Products"],"x-logo":{"url":"/platforms/amazon.svg","altText":"Amazon"}},{"name":"Capterra Data","tags":["Capterra - Software"],"x-logo":{"url":"/platforms/capterra.svg","altText":"Capterra"}},{"name":"G2 Data","tags":["G2 - Reviews"],"x-logo":{"url":"/platforms/g2.svg","altText":"G2"}},{"name":"Upwork Data","tags":["Upwork - Jobs","Upwork - Freelancers"],"x-logo":{"url":"/platforms/upwork.svg","altText":"Upwork"}},{"name":"BuiltWith Data","tags":["BuiltWith - Technographics"],"x-logo":{"url":"/platforms/builtwith.svg","altText":"BuiltWith"}},{"name":"Email Finder","tags":["Email Finder"],"x-logo":{"url":"/platforms/email-finder.svg","altText":"Email Finder"}},{"name":"Airbnb Data","tags":["Airbnb - Search","Airbnb - Listings"],"x-logo":{"url":"/platforms/airbnb.svg","altText":"Airbnb"}},{"name":"Booking.com Data","tags":["Booking.com - Search","Booking.com - Hotels"],"x-logo":{"url":"/platforms/booking.svg","altText":"Booking.com"}},{"name":"GitHub Data","tags":["GitHub - Users","GitHub - Repositories","GitHub - Organizations"],"x-logo":{"url":"/platforms/github.svg","altText":"GitHub"}},{"name":"Majestic SEO Data","tags":["Majestic SEO - Analysis"],"x-logo":{"url":"/platforms/majestic.svg","altText":"Majestic SEO"}},{"name":"SimilarWeb Data","tags":["SimilarWeb - Analysis"],"x-logo":{"url":"/platforms/similarweb.svg","altText":"SimilarWeb"}},{"name":"Substack Data","tags":["Substack - Profiles","Substack - Posts"],"x-logo":{"url":"/platforms/substack.svg","altText":"Substack"}},{"name":"TradingView Data","tags":["TradingView - Search","TradingView - Market Data"],"x-logo":{"url":"/platforms/tradingview.svg","altText":"TradingView"}},{"name":"TripAdvisor Data","tags":["TripAdvisor - Search","TripAdvisor - Details"],"x-logo":{"url":"/platforms/tripadvisor.svg","altText":"TripAdvisor"}},{"name":"Wellfound Data","tags":["Wellfound - Companies","Wellfound - People"],"x-logo":{"url":"/platforms/wellfound.svg","altText":"Wellfound"}},{"name":"Yelp Data","tags":["Yelp - Search","Yelp - Business"],"x-logo":{"url":"/platforms/yelp.svg","altText":"Yelp"}},{"name":"Shopify Data","tags":["Shopify - Store","Shopify - Products","Shopify - Content"],"x-logo":{"url":"/platforms/shopify.svg","altText":"Shopify"}},{"name":"YouTube Data","tags":["YouTube - Channels","YouTube - Videos","YouTube - Search","YouTube - Playlists","YouTube - Community","YouTube - Trending"],"x-logo":{"url":"/platforms/youtube.svg","altText":"YouTube"}},{"name":"Zillow Data","tags":["Zillow - Search","Zillow - Properties"],"x-logo":{"url":"/platforms/zillow.svg","altText":"Zillow"}},{"name":"Semrush Data","tags":["Semrush - Domain Overview"],"x-logo":{"url":"/platforms/semrush.svg","altText":"Semrush"}},{"name":"Indeed Data","tags":["Indeed - Jobs","Indeed - Companies","Indeed - Reviews","Indeed - Salaries"],"x-logo":{"url":"/platforms/indeed.svg","altText":"Indeed"}},{"name":"Y Combinator Data","tags":["YC - Search","YC - Companies"],"x-logo":{"url":"/platforms/ycombinator.svg","altText":"Y Combinator"}},{"name":"Product Hunt Data","tags":["PH - Products","PH - Reviews","PH - Launches"],"x-logo":{"url":"/producthunt-logo.svg","altText":"Product Hunt"}},{"name":"Pinterest Data","tags":["Pinterest - Search","Pinterest - Pins","Pinterest - Boards"],"x-logo":{"url":"/pinterest-logo.svg","altText":"Pinterest"}},{"name":"Twitch Data","tags":["Twitch - Profiles","Twitch - Clips"],"x-logo":{"url":"/twitch-logo.svg","altText":"Twitch"}},{"name":"Kick Data","tags":["Kick - Clips"],"x-logo":{"url":"/kick-logo.svg","altText":"Kick"}},{"name":"Snapchat Data","tags":["Snapchat - Profiles"],"x-logo":{"url":"/snapchat-logo.svg","altText":"Snapchat"}},{"name":"Fiverr Data","tags":["Fiverr - Gigs","Fiverr - Sellers","Fiverr - Search"],"x-logo":{"url":"/fiverr-logo.svg","altText":"Fiverr"}},{"name":"App Store Data","tags":["App Store - Search","App Store - Apps","App Store - Developers"],"x-logo":{"url":"/appstore-logo.svg","altText":"App Store"}},{"name":"Google Play Data","tags":["Google Play - Search","Google Play - Apps","Google Play - Developers"]},{"name":"TrustMRR Data","tags":["TrustMRR - Search","TrustMRR - Startups","TrustMRR - Founders","TrustMRR - Recent","TrustMRR - Acquire","TrustMRR - Categories"]},{"name":"Telegram Data","tags":["Telegram - Channels","Telegram - Messages"]},{"name":"Etsy Data","tags":["Etsy - Products","Etsy - Search"]},{"name":"Walmart Data","tags":["Walmart - Products","Walmart - Search"]}],"tags":[{"name":"LinkedIn - People","description":"LinkedIn profile enrichment and people data endpoints"},{"name":"LinkedIn - Companies","description":"LinkedIn company information and insights endpoints"},{"name":"LinkedIn - Jobs","description":"LinkedIn job listings and hiring data endpoints"},{"name":"LinkedIn - Posts","description":"LinkedIn social posts and engagement endpoints"},{"name":"LinkedIn - Articles","description":"LinkedIn articles and publications endpoints"},{"name":"LinkedIn - Ads","description":"LinkedIn ads data and advertising intelligence endpoints"},{"name":"LinkedIn - Locations","description":"LinkedIn location search endpoints"},{"name":"X - Users","description":"X (Twitter) user profile and network endpoints"},{"name":"X - Tweets","description":"X (Twitter) tweet data and search endpoints"},{"name":"X - Lists","description":"X (Twitter) list data endpoints"},{"name":"X - Communities","description":"X (Twitter) community data endpoints"},{"name":"X - Trends","description":"X (Twitter) trending topics endpoints"},{"name":"X - Spaces","description":"X (Twitter) Spaces (audio rooms) endpoints"},{"name":"Crunchbase - People","description":"Crunchbase person/founder profile enrichment endpoints"},{"name":"Crunchbase - Companies","description":"Crunchbase company/organization data endpoints"},{"name":"Glassdoor - Company","description":"Glassdoor company reviews, ratings, and salary data endpoints"},{"name":"FlightRadar24 - Live","description":"Real-time flight tracking via FlightRadar24 with live positions, altitude, speed, and route data"},{"name":"FlightRadar24 - Airports","description":"Airport information, arrivals, departures, and weather data via FlightRadar24"},{"name":"Yellow Pages - Search","description":"US business directory search via Yellow Pages with ratings, contact info, and company details"},{"name":"eMAG - Products","description":"eMAG.ro product search and details - Romania's largest e-commerce platform"},{"name":"eMAG - Reviews","description":"eMAG.ro product reviews with full pagination support"},{"name":"eMAG - Sellers","description":"eMAG.ro seller/vendor information including ratings, company details, and shipping policies"},{"name":"Bluesky - Profiles","description":"Bluesky user profiles and account information via AT Protocol"},{"name":"Bluesky - Posts","description":"Bluesky posts, threads, and content engagement via AT Protocol"},{"name":"Bluesky - Social","description":"Bluesky social graph - followers, following, and network data via AT Protocol"},{"name":"Reddit - Subreddit","description":"Get posts from any subreddit with sorting options (hot, new, top, rising)"},{"name":"Reddit - Comments","description":"Get Reddit posts with all comments and nested replies"},{"name":"Reddit - User","description":"Get Reddit user profiles with karma, account age, and verification status"},{"name":"Reddit - Search","description":"Search Reddit posts across all subreddits with advanced filtering"},{"name":"Reddit - Subreddits","description":"Search and discover Reddit communities (subreddits) by topic or keyword"},{"name":"Radar","description":"Monitor LinkedIn profiles, X profiles, and companies for changes with webhook notifications.\n\n## Webhook Payload\n\nWhen a monitored profile or company changes, Netrows sends a POST request to your configured webhook URL. For custom webhook URLs, the payload follows the schemas below. Discord and Slack webhook URLs receive automatically formatted messages with embeds/blocks.\n\n### Headers\n\nAll webhook requests include these headers:\n\n| Header | Description |\n|---|---|\n| `Content-Type` | `application/json` |\n| `User-Agent` | `Netrows-Webhook/1.0` |\n| `X-Netrows-Event` | `profile.changed` or `company.changed` |\n| `X-Netrows-Timestamp` | ISO 8601 timestamp |\n| `X-Netrows-Signature` | HMAC-SHA256 signature (only if webhook secret is set) |\n\n### Profile Change Payload\n\n```json\n{\n  \"event\": \"profile.changed\",\n  \"timestamp\": \"2026-03-24T12:00:00.000Z\",\n  \"profile\": {\n    \"username\": \"johndoe\",\n    \"url\": \"https://linkedin.com/in/johndoe\"\n  },\n  \"changes\": [\n    {\n      \"field\": \"headline\",\n      \"oldValue\": \"Software Engineer at Company A\",\n      \"newValue\": \"Senior Engineer at Company B\"\n    }\n  ],\n  \"summary\": \"1 field changed: headline\",\n  \"newSnapshot\": { }\n}\n```\n\n### Company Change Payload\n\n```json\n{\n  \"event\": \"company.changed\",\n  \"timestamp\": \"2026-03-24T12:00:00.000Z\",\n  \"company\": {\n    \"username\": \"acme-corp\",\n    \"url\": \"https://linkedin.com/company/acme-corp\"\n  },\n  \"changes\": [\n    {\n      \"field\": \"staffCount\",\n      \"oldValue\": 150,\n      \"newValue\": 165\n    }\n  ],\n  \"summary\": \"1 field changed: staffCount\",\n  \"newSnapshot\": { }\n}\n```\n\n### Tracked Fields\n\nWe compare the full profile/company snapshot each time. Every field returned by our LinkedIn profile or company endpoint is tracked, except metadata fields (`id`, `urn`, `entityUrn`, `trackingId`). For companies, cosmetic changes like `logo` and `backgroundCoverImage` are also ignored.\n\nCommon changes detected: `headline`, `positions`, `skills`, `summary`, `location`, `education` (profiles) and `staffCount`, `description`, `specialties`, `locations` (companies).\n\n### Signature Verification\n\nIf you set a `webhook_secret`, verify incoming webhooks using HMAC-SHA256:\n\n```javascript\nconst crypto = require('crypto');\nconst signature = req.headers['x-netrows-signature'];\nconst expected = crypto\n  .createHmac('sha256', YOUR_SECRET)\n  .update(JSON.stringify(req.body))\n  .digest('hex');\nif (signature === expected) { /* valid */ }\n```\n\nSee the `ProfileChangedWebhook` and `CompanyChangedWebhook` schemas for full type definitions."},{"name":"Trustpilot - Reviews","description":"Trustpilot company reviews, ratings, and reputation data"},{"name":"TikTok - Users","description":"TikTok user profiles, audience demographics, and social network data"},{"name":"TikTok - Videos","description":"TikTok video information, comments, and transcripts"},{"name":"TikTok - Search","description":"Search TikTok users, videos, hashtags, and content"},{"name":"TikTok - Trending","description":"TikTok trending content, popular creators, videos, and hashtags"},{"name":"TikTok - Music","description":"TikTok music and sound data, videos using specific songs"},{"name":"TikTok - Shop","description":"TikTok Shop product search, shop products, and product details"},{"name":"Instagram - Profiles","description":"Instagram public profile data, recent posts, and related accounts"},{"name":"Facebook - Profiles","description":"Facebook public profile data, posts, reels, and page information"},{"name":"Facebook - Ad Library","description":"Facebook Ad Library data — search and retrieve ad details"},{"name":"Threads - Profiles","description":"Threads public profile data and user posts"},{"name":"Threads - Search","description":"Search for Threads users by username"},{"name":"Google - Search","description":"Google web search results"},{"name":"Google - Maps","description":"Google Maps place details and local search. Supports international queries via `gl` (country) and `hl` (language) parameters."},{"name":"Amazon - Products","description":"Amazon product details, seller offers, and search results"},{"name":"Capterra - Software","description":"Capterra software listings, category browsing, and product details"},{"name":"G2 - Reviews","description":"G2 software reviews"},{"name":"Upwork - Jobs","description":"Upwork job search and details"},{"name":"Upwork - Freelancers","description":"Upwork freelancer search and profiles"},{"name":"BuiltWith - Technographics","description":"Detect technologies used by any website — frameworks, analytics, CMS, hosting, and more"},{"name":"Email Finder","description":"Find verified business email addresses by name, company domain, LinkedIn URL, or decision maker role"},{"name":"YouTube - Channels","description":"YouTube channel profiles with subscriber counts, video stats, social links, and metadata. Retrieve channel videos and Shorts with sorting and pagination."},{"name":"YouTube - Videos","description":"YouTube video details including view counts, engagement metrics, chapters, transcripts, and comment threads with full pagination support"},{"name":"YouTube - Search","description":"Search YouTube for videos, channels, playlists, and Shorts. Includes hashtag-based discovery with date and type filters."},{"name":"YouTube - Playlists","description":"Retrieve all videos from any YouTube playlist with full metadata for each video"},{"name":"YouTube - Community","description":"YouTube community post details including polls, images, and engagement data"},{"name":"YouTube - Trending","description":"Currently trending YouTube Shorts — returns ~48 fresh trending videos per call"},{"name":"Shopify - Store","description":"Shopify store metadata — name, description, currency, domain, and configuration details for any Shopify-powered store"},{"name":"Shopify - Products","description":"Shopify product catalog — browse, search, and retrieve product details with variants, pricing, images, and collection data from any Shopify store"},{"name":"Shopify - Content","description":"Shopify store content — pages, blog posts, and articles from any Shopify-powered store"},{"name":"Zillow - Search","description":"Search Zillow property listings by location with filters for price, bedrooms, property type, and listing status"},{"name":"Zillow - Properties","description":"Zillow property details — pricing, tax history, features, nearby schools, agent info, and Zestimate data for any US property"},{"name":"Semrush - Domain Overview","description":"Semrush domain analytics — authority score, traffic, backlinks, referring domains, keywords, traffic sources, country breakdown, and 6-month history"},{"name":"Indeed - Jobs","description":"Indeed job search and job details — search millions of job listings by keyword, location, job type, and salary. Get full job descriptions, salary ranges, and company info"},{"name":"Indeed - Companies","description":"Indeed company profiles — ratings, CEO approval, happiness scores, interview experience, locations, popular job titles, and rating breakdowns"},{"name":"Indeed - Reviews","description":"Indeed company reviews with pagination — overall and category ratings, pros/cons insights, job titles, and employee status"},{"name":"Indeed - Salaries","description":"Indeed salary data — salary ranges by role, national comparisons, histograms, satisfaction ratios, and detailed per-title breakdowns"},{"name":"YC - Search","description":"Search Y Combinator's startup directory — filter by batch, industry, status, region, hiring, and more"},{"name":"YC - Companies","description":"Y Combinator company profiles — founders, funding, jobs, launches, social links, and detailed descriptions"},{"name":"GitHub - Users","description":"GitHub user profiles with bio, follower counts, contribution stats, and public repository listings with sorting and filtering"},{"name":"GitHub - Repositories","description":"GitHub repository details — stars, forks, languages, topics, license, and contributor information for any public repository"},{"name":"GitHub - Organizations","description":"GitHub organization profiles with member counts, public repos, and company information"},{"name":"Substack - Profiles","description":"Substack author profiles with publication details, subscriber counts, and newsletter metadata"},{"name":"Substack - Posts","description":"Substack newsletter posts — browse articles, read full post content, and retrieve comment threads from any Substack publication"},{"name":"TradingView - Search","description":"Search TradingView for stocks, crypto, forex, and other financial instruments across global exchanges"},{"name":"TradingView - Market Data","description":"Real-time market data from TradingView — stock quotes, financial statements, and multi-market scanner with sorting and filtering"},{"name":"Yelp - Search","description":"Search Yelp for local businesses by keyword and location with ratings, categories, and contact information"},{"name":"Yelp - Business","description":"Yelp business details — hours, photos, website, and customer reviews with ratings and pagination"},{"name":"Wellfound - Companies","description":"Wellfound (AngelList) startup data — company profiles, funding rounds, team size, open jobs, and investor information"},{"name":"Wellfound - People","description":"Wellfound startup people — founders, executives, and team members with roles, bios, and social links"},{"name":"Airbnb - Search","description":"Search Airbnb listings by location with filters for dates, guests, price range, and property type"},{"name":"Airbnb - Listings","description":"Airbnb listing details — photos, amenities, host info, ratings, pricing, and location data for any listing"},{"name":"Booking.com - Search","description":"Search Booking.com for hotels and accommodations by location with check-in/out dates, guest count, and sorting options"},{"name":"Booking.com - Hotels","description":"Booking.com hotel details — room types, pricing, amenities, guest reviews, photos, and location data"},{"name":"TripAdvisor - Search","description":"Search TripAdvisor for restaurants, hotels, and attractions by location with category filtering"},{"name":"TripAdvisor - Details","description":"TripAdvisor venue details — ratings, reviews, photos, hours, and contact info for restaurants, hotels, and attractions"},{"name":"Majestic SEO - Analysis","description":"Majestic SEO site analysis — Trust Flow, Citation Flow, backlink counts, referring domains, and link authority metrics for any domain"},{"name":"SimilarWeb - Analysis","description":"SimilarWeb website analytics — traffic estimates, bounce rate, visit duration, traffic sources, top countries, and competitor insights"},{"name":"PH - Products","description":"Product Hunt product profiles — ratings, makers, screenshots, pricing, and sentiment analysis"},{"name":"PH - Reviews","description":"Product Hunt product reviews — ratings, pros/cons, author details, with pagination"},{"name":"PH - Launches","description":"Product Hunt launch details — makers, ratings, and community reviews"},{"name":"Pinterest - Search","description":"Search Pinterest for pins by keyword with cursor-based pagination"},{"name":"Pinterest - Pins","description":"Get detailed Pinterest pin data including images, saves, reactions, and metadata"},{"name":"Pinterest - Boards","description":"Browse Pinterest user boards and board pins with pagination"},{"name":"Twitch - Profiles","description":"Twitch streamer profiles with followers, videos, clips, and social links"},{"name":"Twitch - Clips","description":"Twitch clip details with video URLs, view counts, and broadcaster info"},{"name":"Kick - Clips","description":"Kick clip details with video URLs, view counts, and channel info"},{"name":"Snapchat - Profiles","description":"Snapchat user profiles with subscriber counts, stories, highlights, and related accounts"},{"name":"Fiverr - Gigs","description":"Fiverr gig details with packages, pricing, reviews, and seller info"},{"name":"Fiverr - Sellers","description":"Fiverr seller profiles with ratings, certifications, and stats"},{"name":"Fiverr - Search","description":"Search Fiverr gigs by keyword with pagination"},{"name":"App Store - Search","description":"Search the Apple App Store for apps with pagination and country filtering"},{"name":"App Store - Apps","description":"Get detailed app profiles with ratings, pricing, version info, and screenshots"},{"name":"App Store - Developers","description":"Browse all apps by a specific developer"},{"name":"Google Play - Search","description":"Search apps on Google Play Store"},{"name":"Google Play - Apps","description":"Get Google Play app details"},{"name":"Google Play - Developers","description":"Browse developer app catalogs on Google Play"},{"name":"TrustMRR - Search"},{"name":"TrustMRR - Startups"},{"name":"TrustMRR - Founders"},{"name":"TrustMRR - Recent"},{"name":"TrustMRR - Acquire"},{"name":"TrustMRR - Categories"},{"name":"Telegram - Channels"},{"name":"Telegram - Messages"},{"name":"Etsy - Products"},{"name":"Etsy - Search"},{"name":"Walmart - Products"},{"name":"Walmart - Search"}],"paths":{"/people/profile":{"get":{"tags":["LinkedIn - People"],"summary":"Profile by Username","operationId":"people_profile","security":[{"ApiKeyAuth":[]}],"x-codeSamples":[{"lang":"curl","label":"cURL","source":"curl \"https://api.netrows.com/v1/people/profile?username=chandra-dunn\" \\\n  -H \"Authorization: Bearer YOUR_API_KEY\""},{"lang":"python","label":"Python","source":"import requests\n\nurl = \"https://api.netrows.com/v1/people/profile\"\nheaders = {\n    \"Authorization\": \"Bearer YOUR_API_KEY\"\n}\nparams = {\n    \"username\": \"chandra-dunn\"\n}\n\nresponse = requests.get(url, headers=headers, params=params)\nprint(response.json())"},{"lang":"javascript","label":"JavaScript (fetch)","source":"fetch('https://api.netrows.com/v1/people/profile?username=chandra-dunn', {\n  headers: {\n    'Authorization': 'Bearer YOUR_API_KEY'\n  }\n})\n  .then(response => response.json())\n  .then(data => console.log(data));"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object"},"examples":{"Successful response":{"summary":"Example response","value":{"id":1463899686,"urn":"ACoAAFdBViYBgbpkFuL_MVbjy-BQzlaiJuqO7Os","username":"chandra-dunn","firstName":"Chandra","lastName":"Dunn, PMP, PhD","isPremium":false,"profilePicture":"https://media.licdn.com/dms/image/v2/D4E03AQHlZ0IOqkqaFA/profile-displayphoto-crop_800_800/B4EZkdPJGEKcAI-/0/1757132133158?e=1764201600&v=beta&t=6CbCDx3C-CabKQ05gLzYuCFIGUT4A8IttuzPWQAwv5k","backgroundImage":"https://media.licdn.com/dms/image/v2/D4E16AQHjtzfbqyKwJA/profile-displaybackgroundimage-shrink_350_1400/B4EZnA5T63KYAY-/0/1759877874241?e=1764201600&v=beta&t=HPyoG4WwtOkxwP11x4kzkUkgpV3pbKQnly9t1EpgytI","summary":"𝗔𝗪𝗦-𝗰𝗲𝗿𝘁𝗶𝗳𝗶𝗲𝗱 𝗗𝗮𝘁𝗮 𝗘𝗻𝗴𝗶𝗻𝗲𝗲𝗿 & 𝗔𝗜/𝗠𝗟 𝗘𝗻𝗴𝗶𝗻𝗲𝗲𝗿 specializing in cloud-native data pipelines, predictive analytics, and intelligent automation. I build scalable solutions that transform raw data into actionable insights while reducing operational overhead.\n\nData Engineering: Designing and implementing ETL/ELT pipelines using AWS (S3, Lambda, Glue, Redshift, DynamoDB, RDS), Python, SQL. Building data lakes and warehouses with automated data quality checks and monitoring.\n\nAI/ML Engineering: Deploying machine learning models for predictive analytics, risk assessment, and intelligent automation. Experience with SageMaker, MLOps, model versioning, and production deployment pipelines.\n\nCloud Architecture: AWS Solutions Architect building serverless applications, microservices, and event-driven architectures. Infrastructure as Code with Terraform and CloudFormation. CI/CD pipeline development and API integrations.\n\nAnalytics & Visualization: Building real-time dashboards and reporting systems using Power BI, SQL, and Python. Translating complex datasets into business intelligence that drives decision-making.\n\nSecurity & Compliance: Implementing IAM policies, MFA, encryption, audit trails, and high-availability architectures.\n\n𝗖𝗲𝗿𝘁𝗶𝗳𝗶𝗰𝗮𝘁𝗶𝗼𝗻𝘀: AWS Machine Learning Engineer Associate | AWS Data Engineer Associate | AWS Solutions Architect Associate | AWS AI Practitioner | PMP | CSM | CAPM\n\n𝗥𝗲𝗮𝗹-𝗪𝗼𝗿𝗹𝗱 𝗜𝗺𝗽𝗮𝗰𝘁: I have delivered multi-million-dollar technology transformations, including a $2.7M statewide system, two months early and $500K under budget, with zero security incidents. I combine technical depth with strategic thinking; my PhD in International Affairs and teaching background give me a unique ability to communicate complex technical concepts to non-technical stakeholders.\n\n𝗖𝘂𝗿𝗿𝗲𝗻𝘁 𝗙𝗼𝗰𝘂𝘀: I am seeking full-time opportunities as a Data Engineer, AI/ML Engineer, or Developer where I can build production-grade data systems and intelligent automation solutions.\n\nI also run 𝗝𝗼𝘆𝗼𝗳𝗣𝗠 𝗔𝗜 𝗦𝗼𝗹𝘂𝘁𝗶𝗼𝗻𝘀, part-time, applying these same technical skills to help project teams leverage AI for workflow optimization. Through my \"Joy of Project Management\" YouTube channel, I create technical tutorials on AI-powered platforms.\n\n𝗧𝗲𝗰𝗵 𝗦𝘁𝗮𝗰𝗸: Python | SQL | AWS (Lambda, S3, Redshift, DynamoDB, RDS, SageMaker, Glue) | Terraform | Docker | CI/CD | Power BI | Git | Airflow | ETL/ELT\n\n📫 Open to opportunities in data engineering, AI/ML engineering, and cloud development. Let's connect!","headline":"AWS Certified 5x | Data & AI/ML Engineer | Cloud Architecture | ETL, Data Lake | Python, SQL | Founder, JoyofPM AI Solutions | AWS Partner | Delivering High-Value Results with Heart","geo":{"country":"United States","city":"Cambridge, Massachusetts","countryCode":"us"},"educations":[{"start":{"year":0,"month":0,"day":0},"end":{"year":0,"month":0,"day":0},"fieldOfStudy":"AWS re/Start Training Program","degree":"Certificate in Cloud Computing & Technology","grade":"","schoolName":"Per Scholas","description":"Completed industry-aligned cloud computing program equipping professionals for careers in cloud engineering and data infrastructure. Developed production-ready skills in cloud architecture, Linux, and networking, essential for supporting enterprise workloads and contributing to cloud and data engineering teams.\nAWS Cloud Architecture & Services: Designed and deployed scalable cloud solutions using EC2, S3, VPC, Lambda, RDS, DynamoDB, Systems Manager, and CloudFormation. Mastered AWS CLI, IAM security policies, load balancing, auto-scaling, and cost optimization strategies.\nNetworking & Security: Configured Virtual Private Clouds (VPCs) with subnets, security groups, NACLs, internet gateways, and routing tables. Applied network protocols, IP addressing and security best practices for production environments.\nLinux: Managed OS, including file systems, permissions, user/group management, process control, and shell scripting (Bash). Utilized SSH/PuTTY for secure remote instance management.","activities":"","url":"https://www.linkedin.com/school/perscholas/","schoolId":"64638","logo":"https://media.licdn.com/dms/image/v2/D560BAQF0oLMv5Got-A/company-logo_400_400/B56ZUAH3l9GQAc-/0/1739463818098/perscholas_logo?e=1764201600&v=beta&t=EUPuqG1lMiOqpM-xdWQsYWrkOZU3rc7lTojyDqTiO4k"}],"position":[{"companyId":108911191,"companyName":"JoyofPM AI Solutions","companyUsername":"joyofpm-ai-solutions","companyURL":"https://www.linkedin.com/company/joyofpm-ai-solutions/","companyLogo":"https://media.licdn.com/dms/image/v2/D4E0BAQGUZXMPh1sCQQ/company-logo_100_100/B4EZltJqglHIAQ-/0/1758472874435?e=1764201600&v=beta&t=qn5I2WBV89kAxpP4G3VrhRxlEx_NZL1B6ec5dYj-GsU","companyIndustry":"Information Technology & Services","companyStaffCountRange":"2 - 10","title":"Founder","location":"Cambridge, Massachusetts, United States","locationType":"","description":"Leveraging AWS cloud architecture and AI engineering to design custom solutions that reduce PM administrative workload by 40-70%, enabling project managers to focus on strategy, leadership, and delivering business value.\n\n  • Founded JoyofPM AI Solutions, an education and consulting firm that leverages cloud computing, data analytics, and AI to help organizations reduce project management administrative burden by 40-70% while improving project success rates and team satisfaction.\n  • Built thought leadership position by launching the \"Joy of Project Management\" YouTube channel featuring AI-powered PM tool demos and reviews\n  • Developed proprietary \"PM Joy Assessment\" methodology that quantifies automation opportunities and calculates ROI potential\n  • Designing custom AI-powered PM solutions using AWS services to address critical project management challenges, including predictive timeline estimation, automated risk assessment, intelligent stakeholder communication, and resource optimization across multiple projects.","employmentType":"","start":{"year":2025,"month":10,"day":0},"end":{"year":0,"month":0,"day":0}}],"skills":[{"name":"Data Engineering","passedSkillAssessment":false},{"name":"ETL","passedSkillAssessment":false,"endorsementsCount":12},{"name":"Artificial Intelligence (AI)","passedSkillAssessment":false},{"name":"Python","passedSkillAssessment":false,"endorsementsCount":11},{"name":"SQL","passedSkillAssessment":false,"endorsementsCount":8},{"name":"AWS","passedSkillAssessment":false}],"certifications":[{"name":"AWS Certified Machine Learning Engineer – Associate","start":{"year":2025,"month":10,"day":0},"end":{"year":2028,"month":10,"day":0},"authority":"Amazon Web Services (AWS)","company":{"name":"Amazon Web Services (AWS)","universalName":"amazon-web-services","logo":null,"headquarter":{}},"timePeriod":{"start":{"year":0,"month":0,"day":0},"end":{"year":0,"month":0,"day":0}}}],"honors":[{"title":"Recipient, AWS Activate Founders Package","description":"Awarded the AWS Activate Founders Package, which provides $1,000 in AWS credits, cloud resources, and business support to accelerate startup growth.","issuer":"Amazon Web Services (AWS)","issuerLogo":"https://media.licdn.com/dms/image/v2/D4E0BAQGUZXMPh1sCQQ/company-logo_100_100/B4EZltJqglHIAQ-/0/1758472874435?e=1764201600&v=beta&t=qn5I2WBV89kAxpP4G3VrhRxlEx_NZL1B6ec5dYj-GsU","issuedOn":{"year":2025,"month":9,"day":0}}],"projects":{"total":8,"items":[{"title":"100 Days of Code","description":"100 Days of Code: The Complete Python Pro Bootcamp is a project-driven course designed by Dr. Angela Yu. Each day, I am building a new Python project over 100 days, covering topics such as automation, web development, GUIs, game development, data analysis, and backend engineering.\n\nProjects range from creating games like Snake and Pong, to building Flask web apps, automating workflows with Selenium and Beautiful Soup, and developing data dashboards with Pandas and Plotly. I am also applying version control best practices with Git and GitHub throughout the course.\n\nBy completion, I will have a portfolio of 100 real-world Python projects, demonstrating applied skills across scripting, data visualization, full-stack development, and automation.\n\nKey Technologies: Python 3, Flask, Tkinter, Selenium, Beautiful Soup, Pandas, NumPy, Plotly, Jupyter, REST APIs, Git/GitHub, SQLite, PostgreSQL","start":{"year":2025,"month":9,"day":0},"end":{"year":0,"month":0,"day":0},"contributors":[{"urn":"ACoAAFdBViYBgbpkFuL_MVbjy-BQzlaiJuqO7Os","username":"chandra-dunn","fullName":"Chandra Dunn, PMP, PhD","firstName":"Chandra","lastName":"Dunn, PMP, PhD","profilePicture":"https://media.licdn.com/dms/image/v2/D4E03AQHlZ0IOqkqaFA/profile-displayphoto-scale_400_400/B4EZkdPJGEKcAg-/0/1757132133236?e=1764201600&v=beta&t=cXChlNnV8ZUpK7qQ99ouaxxdazlGQnx0N6UjPhClvSc","headline":"AWS Certified 5x | Data & AI/ML Engineer | Cloud Architecture | ETL, Data Lake | Python, SQL | Founder, JoyofPM AI Solutions | AWS Partner | Delivering High-Value Results with Heart","url":"https://www.linkedin.com/in/chandra-dunn"}]}]}}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/UnauthorizedError"},"402":{"$ref":"#/components/responses/InsufficientCredits"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/RateLimitExceeded"},"500":{"description":"Internal server error or service temporarily unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":"API request failed"}}}}},"parameters":[{"name":"username","in":"query","required":true,"schema":{"type":"string","example":"chandra-dunn"},"description":"LinkedIn username (from linkedin.com/in/USERNAME)"}],"description":"Retrieve comprehensive LinkedIn profile data by username. Returns detailed information including work experience, education, skills, connections, and more.\n\n**Popular profiles to try:**\n- Tech leaders: `williamhgates`, `satyanadella`, `jeffweiner08`\n- Business executives: `richardbranson`, `elonmusk`\n- Entrepreneurs: `reidhoffman`, `naval`"}},"/people/profile-by-url":{"get":{"tags":["LinkedIn - People"],"summary":"Profile by URL","operationId":"people_profile_by_url","security":[{"ApiKeyAuth":[]}],"x-codeSamples":[{"lang":"curl","label":"cURL","source":"curl \"https://api.netrows.com/v1/people/profile-by-url?url=https://www.linkedin.com/in/williamhgates\" \\\n  -H \"Authorization: Bearer YOUR_API_KEY\""},{"lang":"python","label":"Python","source":"import requests\n\nurl = \"https://api.netrows.com/v1/people/profile-by-url\"\nheaders = {\n    \"Authorization\": \"Bearer YOUR_API_KEY\"\n}\nparams = {\n    \"url\": \"https://www.linkedin.com/in/williamhgates\"\n}\n\nresponse = requests.get(url, headers=headers, params=params)\nprint(response.json())"},{"lang":"javascript","label":"JavaScript (fetch)","source":"fetch('https://api.netrows.com/v1/people/profile-by-url?url=https://www.linkedin.com/in/williamhgates', {\n  headers: {\n    'Authorization': 'Bearer YOUR_API_KEY'\n  }\n})\n  .then(response => response.json())\n  .then(data => console.log(data));"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object"},"examples":{"Successful response":{"summary":"Example response","value":{"id":1463899686,"urn":"ACoAAFdBViYBgbpkFuL_MVbjy-BQzlaiJuqO7Os","username":"chandra-dunn","firstName":"Chandra","lastName":"Dunn, PMP, PhD","isPremium":false,"profilePicture":"https://media.licdn.com/dms/image/v2/D4E03AQHlZ0IOqkqaFA/profile-displayphoto-crop_800_800/B4EZkdPJGEKcAI-/0/1757132133158?e=1764201600&v=beta&t=6CbCDx3C-CabKQ05gLzYuCFIGUT4A8IttuzPWQAwv5k","backgroundImage":"https://media.licdn.com/dms/image/v2/D4E16AQHjtzfbqyKwJA/profile-displaybackgroundimage-shrink_350_1400/B4EZnA5T63KYAY-/0/1759877874241?e=1764201600&v=beta&t=HPyoG4WwtOkxwP11x4kzkUkgpV3pbKQnly9t1EpgytI","summary":"𝗔𝗪𝗦-𝗰𝗲𝗿𝘁𝗶𝗳𝗶𝗲𝗱 𝗗𝗮𝘁𝗮 𝗘𝗻𝗴𝗶𝗻𝗲𝗲𝗿 & 𝗔𝗜/𝗠𝗟 𝗘𝗻𝗴𝗶𝗻𝗲𝗲𝗿 specializing in cloud-native data pipelines, predictive analytics, and intelligent automation. I build scalable solutions that transform raw data into actionable insights while reducing operational overhead.\n\nData Engineering: Designing and implementing ETL/ELT pipelines using AWS (S3, Lambda, Glue, Redshift, DynamoDB, RDS), Python, SQL. Building data lakes and warehouses with automated data quality checks and monitoring.\n\nAI/ML Engineering: Deploying machine learning models for predictive analytics, risk assessment, and intelligent automation. Experience with SageMaker, MLOps, model versioning, and production deployment pipelines.\n\nCloud Architecture: AWS Solutions Architect building serverless applications, microservices, and event-driven architectures. Infrastructure as Code with Terraform and CloudFormation. CI/CD pipeline development and API integrations.\n\nAnalytics & Visualization: Building real-time dashboards and reporting systems using Power BI, SQL, and Python. Translating complex datasets into business intelligence that drives decision-making.\n\nSecurity & Compliance: Implementing IAM policies, MFA, encryption, audit trails, and high-availability architectures.\n\n𝗖𝗲𝗿𝘁𝗶𝗳𝗶𝗰𝗮𝘁𝗶𝗼𝗻𝘀: AWS Machine Learning Engineer Associate | AWS Data Engineer Associate | AWS Solutions Architect Associate | AWS AI Practitioner | PMP | CSM | CAPM\n\n𝗥𝗲𝗮𝗹-𝗪𝗼𝗿𝗹𝗱 𝗜𝗺𝗽𝗮𝗰𝘁: I have delivered multi-million-dollar technology transformations, including a $2.7M statewide system, two months early and $500K under budget, with zero security incidents. I combine technical depth with strategic thinking; my PhD in International Affairs and teaching background give me a unique ability to communicate complex technical concepts to non-technical stakeholders.\n\n𝗖𝘂𝗿𝗿𝗲𝗻𝘁 𝗙𝗼𝗰𝘂𝘀: I am seeking full-time opportunities as a Data Engineer, AI/ML Engineer, or Developer where I can build production-grade data systems and intelligent automation solutions.\n\nI also run 𝗝𝗼𝘆𝗼𝗳𝗣𝗠 𝗔𝗜 𝗦𝗼𝗹𝘂𝘁𝗶𝗼𝗻𝘀, part-time, applying these same technical skills to help project teams leverage AI for workflow optimization. Through my \"Joy of Project Management\" YouTube channel, I create technical tutorials on AI-powered platforms.\n\n𝗧𝗲𝗰𝗵 𝗦𝘁𝗮𝗰𝗸: Python | SQL | AWS (Lambda, S3, Redshift, DynamoDB, RDS, SageMaker, Glue) | Terraform | Docker | CI/CD | Power BI | Git | Airflow | ETL/ELT\n\n📫 Open to opportunities in data engineering, AI/ML engineering, and cloud development. Let's connect!","headline":"AWS Certified 5x | Data & AI/ML Engineer | Cloud Architecture | ETL, Data Lake | Python, SQL | Founder, JoyofPM AI Solutions | AWS Partner | Delivering High-Value Results with Heart","geo":{"country":"United States","city":"Cambridge, Massachusetts","countryCode":"us"},"educations":[{"start":{"year":0,"month":0,"day":0},"end":{"year":0,"month":0,"day":0},"fieldOfStudy":"AWS re/Start Training Program","degree":"Certificate in Cloud Computing & Technology","grade":"","schoolName":"Per Scholas","description":"Completed industry-aligned cloud computing program equipping professionals for careers in cloud engineering and data infrastructure. Developed production-ready skills in cloud architecture, Linux, and networking, essential for supporting enterprise workloads and contributing to cloud and data engineering teams.\nAWS Cloud Architecture & Services: Designed and deployed scalable cloud solutions using EC2, S3, VPC, Lambda, RDS, DynamoDB, Systems Manager, and CloudFormation. Mastered AWS CLI, IAM security policies, load balancing, auto-scaling, and cost optimization strategies.\nNetworking & Security: Configured Virtual Private Clouds (VPCs) with subnets, security groups, NACLs, internet gateways, and routing tables. Applied network protocols, IP addressing and security best practices for production environments.\nLinux: Managed OS, including file systems, permissions, user/group management, process control, and shell scripting (Bash). Utilized SSH/PuTTY for secure remote instance management.","activities":"","url":"https://www.linkedin.com/school/perscholas/","schoolId":"64638","logo":"https://media.licdn.com/dms/image/v2/D560BAQF0oLMv5Got-A/company-logo_400_400/B56ZUAH3l9GQAc-/0/1739463818098/perscholas_logo?e=1764201600&v=beta&t=EUPuqG1lMiOqpM-xdWQsYWrkOZU3rc7lTojyDqTiO4k"}],"position":[{"companyId":108911191,"companyName":"JoyofPM AI Solutions","companyUsername":"joyofpm-ai-solutions","companyURL":"https://www.linkedin.com/company/joyofpm-ai-solutions/","companyLogo":"https://media.licdn.com/dms/image/v2/D4E0BAQGUZXMPh1sCQQ/company-logo_100_100/B4EZltJqglHIAQ-/0/1758472874435?e=1764201600&v=beta&t=qn5I2WBV89kAxpP4G3VrhRxlEx_NZL1B6ec5dYj-GsU","companyIndustry":"Information Technology & Services","companyStaffCountRange":"2 - 10","title":"Founder","location":"Cambridge, Massachusetts, United States","locationType":"","description":"Leveraging AWS cloud architecture and AI engineering to design custom solutions that reduce PM administrative workload by 40-70%, enabling project managers to focus on strategy, leadership, and delivering business value.\n\n  • Founded JoyofPM AI Solutions, an education and consulting firm that leverages cloud computing, data analytics, and AI to help organizations reduce project management administrative burden by 40-70% while improving project success rates and team satisfaction.\n  • Built thought leadership position by launching the \"Joy of Project Management\" YouTube channel featuring AI-powered PM tool demos and reviews\n  • Developed proprietary \"PM Joy Assessment\" methodology that quantifies automation opportunities and calculates ROI potential\n  • Designing custom AI-powered PM solutions using AWS services to address critical project management challenges, including predictive timeline estimation, automated risk assessment, intelligent stakeholder communication, and resource optimization across multiple projects.","employmentType":"","start":{"year":2025,"month":10,"day":0},"end":{"year":0,"month":0,"day":0}}],"skills":[{"name":"Data Engineering","passedSkillAssessment":false},{"name":"ETL","passedSkillAssessment":false,"endorsementsCount":12},{"name":"Artificial Intelligence (AI)","passedSkillAssessment":false},{"name":"Python","passedSkillAssessment":false,"endorsementsCount":11},{"name":"SQL","passedSkillAssessment":false,"endorsementsCount":8},{"name":"AWS","passedSkillAssessment":false}],"certifications":[{"name":"AWS Certified Machine Learning Engineer – Associate","start":{"year":2025,"month":10,"day":0},"end":{"year":2028,"month":10,"day":0},"authority":"Amazon Web Services (AWS)","company":{"name":"Amazon Web Services (AWS)","universalName":"amazon-web-services","logo":null,"headquarter":{}},"timePeriod":{"start":{"year":0,"month":0,"day":0},"end":{"year":0,"month":0,"day":0}}}],"honors":[{"title":"Recipient, AWS Activate Founders Package","description":"Awarded the AWS Activate Founders Package, which provides $1,000 in AWS credits, cloud resources, and business support to accelerate startup growth.","issuer":"Amazon Web Services (AWS)","issuerLogo":"https://media.licdn.com/dms/image/v2/D4E0BAQGUZXMPh1sCQQ/company-logo_100_100/B4EZltJqglHIAQ-/0/1758472874435?e=1764201600&v=beta&t=qn5I2WBV89kAxpP4G3VrhRxlEx_NZL1B6ec5dYj-GsU","issuedOn":{"year":2025,"month":9,"day":0}}],"projects":{"total":8,"items":[{"title":"100 Days of Code","description":"100 Days of Code: The Complete Python Pro Bootcamp is a project-driven course designed by Dr. Angela Yu. Each day, I am building a new Python project over 100 days, covering topics such as automation, web development, GUIs, game development, data analysis, and backend engineering.\n\nProjects range from creating games like Snake and Pong, to building Flask web apps, automating workflows with Selenium and Beautiful Soup, and developing data dashboards with Pandas and Plotly. I am also applying version control best practices with Git and GitHub throughout the course.\n\nBy completion, I will have a portfolio of 100 real-world Python projects, demonstrating applied skills across scripting, data visualization, full-stack development, and automation.\n\nKey Technologies: Python 3, Flask, Tkinter, Selenium, Beautiful Soup, Pandas, NumPy, Plotly, Jupyter, REST APIs, Git/GitHub, SQLite, PostgreSQL","start":{"year":2025,"month":9,"day":0},"end":{"year":0,"month":0,"day":0},"contributors":[{"urn":"ACoAAFdBViYBgbpkFuL_MVbjy-BQzlaiJuqO7Os","username":"chandra-dunn","fullName":"Chandra Dunn, PMP, PhD","firstName":"Chandra","lastName":"Dunn, PMP, PhD","profilePicture":"https://media.licdn.com/dms/image/v2/D4E03AQHlZ0IOqkqaFA/profile-displayphoto-scale_400_400/B4EZkdPJGEKcAg-/0/1757132133236?e=1764201600&v=beta&t=cXChlNnV8ZUpK7qQ99ouaxxdazlGQnx0N6UjPhClvSc","headline":"AWS Certified 5x | Data & AI/ML Engineer | Cloud Architecture | ETL, Data Lake | Python, SQL | Founder, JoyofPM AI Solutions | AWS Partner | Delivering High-Value Results with Heart","url":"https://www.linkedin.com/in/chandra-dunn"}]}]}}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/UnauthorizedError"},"402":{"$ref":"#/components/responses/InsufficientCredits"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/RateLimitExceeded"},"500":{"description":"Internal server error or service temporarily unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":"API request failed"}}}}},"parameters":[{"name":"url","in":"query","required":true,"schema":{"type":"string","example":"https://www.linkedin.com/in/williamhgates"},"description":"Full LinkedIn profile URL"}],"description":"Retrieve comprehensive LinkedIn profile data using a full LinkedIn profile URL. Useful when you have the complete URL but not the username. Returns the same detailed information as the username endpoint.\n\n**Example URLs:**\n- `https://www.linkedin.com/in/williamhgates`\n- `https://www.linkedin.com/in/satyanadella`\n- `https://linkedin.com/in/jeffweiner08` (works with or without www)"}},"/people/search":{"get":{"tags":["LinkedIn - People"],"summary":"Search People","operationId":"people_search","security":[{"ApiKeyAuth":[]}],"x-codeSamples":[{"lang":"curl","label":"cURL","source":"curl \"https://api.netrows.com/v1/people/search?firstName=Bill&lastName=Gates&keywords=entrepreneur philanthropist&geo=102277331&keywordTitle=Software Engineer&schoolId=18483&keywordSchool=Harvard University&company=Microsoft&start=0\" \\\n  -H \"Authorization: Bearer YOUR_API_KEY\""},{"lang":"python","label":"Python","source":"import requests\n\nurl = \"https://api.netrows.com/v1/people/search\"\nheaders = {\n    \"Authorization\": \"Bearer YOUR_API_KEY\"\n}\nparams = {\n    \"firstName\": \"Bill\",\n    \"lastName\": \"Gates\",\n    \"keywords\": \"entrepreneur philanthropist\",\n    \"geo\": \"102277331\",\n    \"keywordTitle\": \"Software Engineer\",\n    \"schoolId\": \"18483\",\n    \"keywordSchool\": \"Harvard University\",\n    \"company\": \"Microsoft\",\n    \"start\": \"0\"\n}\n\nresponse = requests.get(url, headers=headers, params=params)\nprint(response.json())"},{"lang":"javascript","label":"JavaScript (fetch)","source":"fetch('https://api.netrows.com/v1/people/search?firstName=Bill&lastName=Gates&keywords=entrepreneur philanthropist&geo=102277331&keywordTitle=Software Engineer&schoolId=18483&keywordSchool=Harvard University&company=Microsoft&start=0', {\n  headers: {\n    'Authorization': 'Bearer YOUR_API_KEY'\n  }\n})\n  .then(response => response.json())\n  .then(data => console.log(data));"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object"},"examples":{"Successful response":{"summary":"Example response","value":{"success":true,"data":[{"username":"williamhgates","firstName":"Bill","lastName":"Gates","headline":"Co-chair, Bill & Melinda Gates Foundation","profilePicture":"https://media.licdn.com/dms/image/...","location":"Seattle, Washington, United States","summary":"Co-chair of the Bill & Melinda Gates Foundation..."},{"username":"satyanadella","firstName":"Satya","lastName":"Nadella","headline":"Chairman and CEO at Microsoft","profilePicture":"https://media.licdn.com/dms/image/...","location":"Redmond, Washington","summary":"Chairman and CEO of Microsoft..."}],"paging":{"total":1000,"start":0,"count":10}}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/UnauthorizedError"},"402":{"$ref":"#/components/responses/InsufficientCredits"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/RateLimitExceeded"},"500":{"description":"Internal server error or service temporarily unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":"API request failed"}}}}},"parameters":[{"name":"firstName","in":"query","required":false,"schema":{"type":"string","example":"Bill"},"description":"First name to search for"},{"name":"lastName","in":"query","required":false,"schema":{"type":"string","example":"Gates"},"description":"Last name to search for"},{"name":"keywords","in":"query","required":false,"schema":{"type":"string","example":"entrepreneur philanthropist"},"description":"General keywords to search in profiles"},{"name":"geo","in":"query","required":false,"schema":{"type":"string","example":"102277331"},"description":"LinkedIn geo ID for location filter (e.g., \"102277331\" for San Francisco)"},{"name":"keywordTitle","in":"query","required":false,"schema":{"type":"string","example":"Software Engineer"},"description":"Job title keywords (e.g., \"Software Engineer\", \"CEO\", \"Product Manager\")"},{"name":"schoolId","in":"query","required":false,"schema":{"type":"string","example":"18483"},"description":"LinkedIn school ID for education filter"},{"name":"keywordSchool","in":"query","required":false,"schema":{"type":"string","example":"Harvard University"},"description":"School name keywords (e.g., \"Harvard\", \"Stanford\")"},{"name":"company","in":"query","required":false,"schema":{"type":"string","example":"Microsoft"},"description":"Company name to filter by current or past employment"},{"name":"start","in":"query","required":false,"schema":{"type":"string","example":"0"},"description":"Pagination offset (starts at 0)"}],"description":"Search for LinkedIn profiles using various filters like name, location, job title, company, or school. Returns paginated results with basic profile information.\n\n**Search strategies:**\n- By name: Use `firstName` and/or `lastName`\n- By role: Use `keywordTitle` (e.g., \"Software Engineer\", \"CEO\")\n- By company: Use `company` (e.g., \"Microsoft\", \"Google\")\n- By location: Use `geo` with LinkedIn geo ID\n- By school: Use `schoolId` or `keywordSchool`\n- Combine filters for precise results\n\n> **Note:** You may see less than 10 results per page. This is because LinkedIn doesn't return all profiles as public, and these profiles appear in the result without public information. The endpoint automatically filters these profiles from the result.\n\n> **Important:** Avoid using special characters like parentheses `()`, slashes `/`, or commas `,` in search parameters as they may cause the request to fail."}},"/people/reverse-lookup":{"get":{"tags":["LinkedIn - People"],"summary":"Reverse Email Lookup","operationId":"people_reverse_lookup","security":[{"ApiKeyAuth":[]}],"x-codeSamples":[{"lang":"curl","label":"cURL","source":"curl \"https://api.netrows.com/v1/people/reverse-lookup?email=john.doe@microsoft.com\" \\\n  -H \"Authorization: Bearer YOUR_API_KEY\""},{"lang":"python","label":"Python","source":"import requests\n\nurl = \"https://api.netrows.com/v1/people/reverse-lookup\"\nheaders = {\n    \"Authorization\": \"Bearer YOUR_API_KEY\"\n}\nparams = {\n    \"email\": \"john.doe@microsoft.com\"\n}\n\nresponse = requests.get(url, headers=headers, params=params)\nprint(response.json())"},{"lang":"javascript","label":"JavaScript (fetch)","source":"fetch('https://api.netrows.com/v1/people/reverse-lookup?email=john.doe@microsoft.com', {\n  headers: {\n    'Authorization': 'Bearer YOUR_API_KEY'\n  }\n})\n  .then(response => response.json())\n  .then(data => console.log(data));"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object"},"examples":{"Successful response":{"summary":"Example response","value":{"found":true,"email":"eduard@netrows.com","linkedinUrl":"https://www.linkedin.com/in/eduard-mihai-cioculescu","profile":{"fullName":"Eduard Cioculescu","headline":"Founder Netrows | Building Real-Time B2B Data Solutions","summary":"","profilePicture":"https://media.licdn.com/dms/image/v2/D4E03AQE8-8SIGUmbDA/profile-displayphoto-scale_100_100/B4EZoUxSGuHcAc-/0/1761285058753?e=1766620800&v=beta&t=4trsuhKJAME9RaXhcHhMkVpaH3RKkcHU3sfmZLu_AQQ","location":"San Francisco Javier","profileURL":"https://www.linkedin.com/in/eduard-mihai-cioculescu","username":"eduard-mihai-cioculescu"}}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/UnauthorizedError"},"402":{"$ref":"#/components/responses/InsufficientCredits"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/RateLimitExceeded"},"500":{"description":"Internal server error or service temporarily unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":"API request failed"}}}}},"parameters":[{"name":"email","in":"query","required":true,"schema":{"type":"string","example":"john.doe@microsoft.com"},"description":"Work email address to search for. Must be a business email (personal providers like Gmail, Yahoo, Outlook are not allowed)."}],"description":"Find LinkedIn profile from a work email address. Uses intelligent matching to identify professionals based on their email. Perfect for lead enrichment, contact discovery, and profile verification.\n\n**How it works:**\n- Extracts name and company from email address\n- Searches LinkedIn for matching profiles\n- Returns the most relevant match with profile data\n\n**Requirements:**\n- Must be a business email (no Gmail, Yahoo, Outlook, etc.)\n- Email format must be valid\n\n**Use cases:**\n- Enrich CRM contacts with LinkedIn profiles\n- Verify professional identities\n- Build prospect lists from email databases\n- Connect email contacts to social profiles"}},"/people/activity-time":{"get":{"tags":["LinkedIn - People"],"summary":"Profile Recent Activity Time","operationId":"people_activity_time","security":[{"ApiKeyAuth":[]}],"x-codeSamples":[{"lang":"curl","label":"cURL","source":"curl \"https://api.netrows.com/v1/people/activity-time?username=williamhgates\" \\\n  -H \"Authorization: Bearer YOUR_API_KEY\""},{"lang":"python","label":"Python","source":"import requests\n\nurl = \"https://api.netrows.com/v1/people/activity-time\"\nheaders = {\n    \"Authorization\": \"Bearer YOUR_API_KEY\"\n}\nparams = {\n    \"username\": \"williamhgates\"\n}\n\nresponse = requests.get(url, headers=headers, params=params)\nprint(response.json())"},{"lang":"javascript","label":"JavaScript (fetch)","source":"fetch('https://api.netrows.com/v1/people/activity-time?username=williamhgates', {\n  headers: {\n    'Authorization': 'Bearer YOUR_API_KEY'\n  }\n})\n  .then(response => response.json())\n  .then(data => console.log(data));"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","description":"Indicates if the request was successful"},"message":{"type":"string","description":"Error message if any, empty on success"},"data":{"type":"object","properties":{"date":{"type":"string","description":"ISO-like timestamp of the last activity (authoritative field for exact time)"},"recentActivity":{"type":"string","description":"Human-readable relative time (e.g., '5h', '2d', '1w'). Note: This is a display string from LinkedIn, not calculated from the timestamp"},"timestamp":{"type":"integer","description":"Unix timestamp in milliseconds of the last activity (authoritative field)"},"type":{"type":"string","description":"Type of the last activity (e.g., 'post', 'reaction', 'comment')"}}}}},"examples":{"Successful response":{"summary":"Example response","value":{"success":true,"message":"","data":{"date":"2026-01-08 01:25:09.055 +0000 UTC","recentActivity":"5h","timestamp":1767835509055,"type":"post"}}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/UnauthorizedError"},"402":{"$ref":"#/components/responses/InsufficientCredits"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/RateLimitExceeded"},"500":{"description":"Internal server error or service temporarily unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":"API request failed"}}}}},"parameters":[{"name":"username","in":"query","required":true,"schema":{"type":"string","example":"williamhgates"},"description":"LinkedIn username (from linkedin.com/in/USERNAME) or full profile URL"}],"description":"Get the timestamp of the most recent activity on a LinkedIn profile. Useful for determining if a profile is active and engaged on the platform.\n\n**Response Fields:**\n- `timestamp` (authoritative): Unix timestamp in milliseconds - use this for calculations\n- `date` (authoritative): Human-readable date string with timezone\n- `recentActivity`: Relative time string from LinkedIn (e.g., '5h', '2d'). Note: This is a cached display value from LinkedIn and may occasionally show stale data\n- `type`: The type of activity (post, reaction, comment, etc.)\n\n**Recommended Usage:** Use `timestamp` or `date` fields for activity-based logic. The `recentActivity` field is best used for display purposes only."}},"/people/posts":{"get":{"tags":["LinkedIn - Posts"],"summary":"Profile Posts","operationId":"people_posts","security":[{"ApiKeyAuth":[]}],"x-codeSamples":[{"lang":"curl","label":"cURL","source":"curl \"https://api.netrows.com/v1/people/posts?url=williamhgates&start=0&postedAt=2024-01-01\" \\\n  -H \"Authorization: Bearer YOUR_API_KEY\""},{"lang":"python","label":"Python","source":"import requests\n\nurl = \"https://api.netrows.com/v1/people/posts\"\nheaders = {\n    \"Authorization\": \"Bearer YOUR_API_KEY\"\n}\nparams = {\n    \"url\": \"williamhgates\",\n    \"start\": \"0\",\n    \"paginationToken\": \"value\",\n    \"postedAt\": \"2024-01-01\"\n}\n\nresponse = requests.get(url, headers=headers, params=params)\nprint(response.json())"},{"lang":"javascript","label":"JavaScript (fetch)","source":"fetch('https://api.netrows.com/v1/people/posts?url=williamhgates&start=0&paginationToken=value&postedAt=2024-01-01', {\n  headers: {\n    'Authorization': 'Bearer YOUR_API_KEY'\n  }\n})\n  .then(response => response.json())\n  .then(data => console.log(data));"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object"},"examples":{"Successful response":{"summary":"Example response","value":{"success":true,"username":"williamhgates","posts":[{"urn":"urn:li:activity:7123456789012345678","text":"Excited to share our latest progress on climate innovation...","postedAt":"2024-01-15T10:30:00Z","likes":15420,"comments":342,"reposts":1205,"media":[{"type":"image","url":"https://media.licdn.com/dms/image/..."}]}],"paging":{"total":1250,"start":0,"count":10,"paginationToken":"next_page_token"}}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/UnauthorizedError"},"402":{"$ref":"#/components/responses/InsufficientCredits"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/RateLimitExceeded"},"500":{"description":"Internal server error or service temporarily unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":"API request failed"}}}}},"parameters":[{"name":"url","in":"query","required":true,"schema":{"type":"string","example":"williamhgates"},"description":"LinkedIn profile URL or username. Accepts both: plain username (e.g., \"williamhgates\") or full URL (e.g., \"https://www.linkedin.com/in/williamhgates\")"},{"name":"start","in":"query","required":false,"schema":{"type":"string","example":"0"},"description":"Pagination offset"},{"name":"paginationToken","in":"query","required":false,"schema":{"type":"string"},"description":"Token for next page of results"},{"name":"postedAt","in":"query","required":false,"schema":{"type":"string","example":"2024-01-01"},"description":"Filter by post date (ISO 8601 format)"}],"description":"Retrieve posts published by a LinkedIn profile. Returns paginated results with post content, engagement metrics, and media. Useful for content analysis and engagement tracking."}},"/people/post":{"get":{"tags":["LinkedIn - Posts"],"summary":"Profile Post by ID","operationId":"people_post","security":[{"ApiKeyAuth":[]}],"x-codeSamples":[{"lang":"curl","label":"cURL","source":"curl \"https://api.netrows.com/v1/people/post?urn=7403364279346798594\" \\\n  -H \"Authorization: Bearer YOUR_API_KEY\""},{"lang":"python","label":"Python","source":"import requests\n\nurl = \"https://api.netrows.com/v1/people/post\"\nheaders = {\n    \"Authorization\": \"Bearer YOUR_API_KEY\"\n}\nparams = {\n    \"urn\": \"7403364279346798594\"\n}\n\nresponse = requests.get(url, headers=headers, params=params)\nprint(response.json())"},{"lang":"javascript","label":"JavaScript (fetch)","source":"fetch('https://api.netrows.com/v1/people/post?urn=7403364279346798594', {\n  headers: {\n    'Authorization': 'Bearer YOUR_API_KEY'\n  }\n})\n  .then(response => response.json())\n  .then(data => console.log(data));"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object"},"examples":{"Successful response":{"summary":"Example response","value":{"success":true,"urn":"urn:li:activity:7123456789012345678","author":{"username":"williamhgates","name":"Bill Gates","headline":"Co-chair, Bill & Melinda Gates Foundation","profilePicture":"https://media.licdn.com/dms/image/..."},"text":"Excited to share our latest progress on climate innovation...","postedAt":"2024-01-15T10:30:00Z","likes":15420,"comments":342,"reposts":1205,"commentsList":[{"author":"Satya Nadella","text":"Great work on this initiative!","postedAt":"2024-01-15T11:00:00Z","likes":234}]}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/UnauthorizedError"},"402":{"$ref":"#/components/responses/InsufficientCredits"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/RateLimitExceeded"},"500":{"description":"Internal server error or service temporarily unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":"API request failed"}}}}},"parameters":[{"name":"urn","in":"query","required":true,"schema":{"type":"string","example":"7403364279346798594"},"description":"LinkedIn post ID (numeric only, e.g., \"7403364279346798594\")"}],"description":"Retrieve a specific post by its ID along with its comments and engagement metrics. Useful for analyzing individual post performance and audience engagement.\n\n**Note**: Use the numeric post ID only (e.g., \"7391072817045254144\"), not the full URN format."}},"/people/post-comments":{"get":{"tags":["LinkedIn - Posts"],"summary":"Profile Post Comments","operationId":"people_post_comments","security":[{"ApiKeyAuth":[]}],"x-codeSamples":[{"lang":"curl","label":"cURL","source":"curl \"https://api.netrows.com/v1/people/post-comments?urn=urn:li:activity:7123456789012345678&sort=RECENT&page=1\" \\\n  -H \"Authorization: Bearer YOUR_API_KEY\""},{"lang":"python","label":"Python","source":"import requests\n\nurl = \"https://api.netrows.com/v1/people/post-comments\"\nheaders = {\n    \"Authorization\": \"Bearer YOUR_API_KEY\"\n}\nparams = {\n    \"urn\": \"urn:li:activity:7123456789012345678\",\n    \"sort\": \"RECENT\",\n    \"paginationToken\": \"value\",\n    \"page\": \"1\"\n}\n\nresponse = requests.get(url, headers=headers, params=params)\nprint(response.json())"},{"lang":"javascript","label":"JavaScript (fetch)","source":"fetch('https://api.netrows.com/v1/people/post-comments?urn=urn:li:activity:7123456789012345678&sort=RECENT&paginationToken=value&page=1', {\n  headers: {\n    'Authorization': 'Bearer YOUR_API_KEY'\n  }\n})\n  .then(response => response.json())\n  .then(data => console.log(data));"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object"},"examples":{"Successful response":{"summary":"Example response","value":{"success":true,"comments":[{"commentId":"urn:li:comment:123456","author":{"username":"satyanadella","name":"Satya Nadella","headline":"Chairman and CEO at Microsoft"},"text":"Great work on this initiative!","postedAt":"2024-01-15T11:00:00Z","likes":234,"replies":12}],"paging":{"total":342,"count":10,"paginationToken":"next_page_token"}}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/UnauthorizedError"},"402":{"$ref":"#/components/responses/InsufficientCredits"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/RateLimitExceeded"},"500":{"description":"Internal server error or service temporarily unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":"API request failed"}}}}},"parameters":[{"name":"urn","in":"query","required":true,"schema":{"type":"string","example":"urn:li:activity:7123456789012345678"},"description":"LinkedIn post URN identifier"},{"name":"sort","in":"query","required":false,"schema":{"type":"string","example":"RECENT"},"description":"Sort order: \"RELEVANCE\" or \"RECENT\""},{"name":"paginationToken","in":"query","required":false,"schema":{"type":"string"},"description":"Token for next page of results"},{"name":"page","in":"query","required":false,"schema":{"type":"string","example":"1"},"description":"Page number for pagination"}],"description":"Retrieve all comments for a specific post with pagination and sorting options. Useful for sentiment analysis and engagement tracking."}},"/people/comments":{"get":{"tags":["LinkedIn - Posts"],"summary":"All Profile Comments","operationId":"people_comments","security":[{"ApiKeyAuth":[]}],"x-codeSamples":[{"lang":"curl","label":"cURL","source":"curl \"https://api.netrows.com/v1/people/comments?url=williamhgates\" \\\n  -H \"Authorization: Bearer YOUR_API_KEY\""},{"lang":"python","label":"Python","source":"import requests\n\nurl = \"https://api.netrows.com/v1/people/comments\"\nheaders = {\n    \"Authorization\": \"Bearer YOUR_API_KEY\"\n}\nparams = {\n    \"url\": \"williamhgates\"\n}\n\nresponse = requests.get(url, headers=headers, params=params)\nprint(response.json())"},{"lang":"javascript","label":"JavaScript (fetch)","source":"fetch('https://api.netrows.com/v1/people/comments?url=williamhgates', {\n  headers: {\n    'Authorization': 'Bearer YOUR_API_KEY'\n  }\n})\n  .then(response => response.json())\n  .then(data => console.log(data));"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object"},"examples":{"Successful response":{"summary":"Example response","value":{"success":true,"username":"williamhgates","comments":[{"postUrn":"urn:li:activity:7123456789012345678","text":"This is an important development for the industry.","postedAt":"2024-01-15T14:30:00Z","likes":89,"originalPost":{"author":"Satya Nadella","text":"Announcing our new AI initiative..."}}],"total":156}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/UnauthorizedError"},"402":{"$ref":"#/components/responses/InsufficientCredits"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/RateLimitExceeded"},"500":{"description":"Internal server error or service temporarily unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":"API request failed"}}}}},"parameters":[{"name":"url","in":"query","required":true,"schema":{"type":"string","example":"williamhgates"},"description":"LinkedIn profile URL or username. Accepts both: plain username (e.g., \"williamhgates\") or full URL (e.g., \"https://www.linkedin.com/in/williamhgates\")"}],"description":"Retrieve all comments made by a LinkedIn profile across all posts. Useful for analyzing engagement patterns and communication style."}},"/people/connection-count":{"get":{"tags":["LinkedIn - People"],"summary":"Profile Connection & Follower Count","operationId":"people_connection_count","security":[{"ApiKeyAuth":[]}],"x-codeSamples":[{"lang":"curl","label":"cURL","source":"curl \"https://api.netrows.com/v1/people/connection-count?url=williamhgates\" \\\n  -H \"Authorization: Bearer YOUR_API_KEY\""},{"lang":"python","label":"Python","source":"import requests\n\nurl = \"https://api.netrows.com/v1/people/connection-count\"\nheaders = {\n    \"Authorization\": \"Bearer YOUR_API_KEY\"\n}\nparams = {\n    \"url\": \"williamhgates\"\n}\n\nresponse = requests.get(url, headers=headers, params=params)\nprint(response.json())"},{"lang":"javascript","label":"JavaScript (fetch)","source":"fetch('https://api.netrows.com/v1/people/connection-count?url=williamhgates', {\n  headers: {\n    'Authorization': 'Bearer YOUR_API_KEY'\n  }\n})\n  .then(response => response.json())\n  .then(data => console.log(data));"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object"},"examples":{"Successful response":{"summary":"Example response","value":{"success":true,"username":"williamhgates","connectionCount":500,"followerCount":35000000,"isInfluencer":true}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/UnauthorizedError"},"402":{"$ref":"#/components/responses/InsufficientCredits"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/RateLimitExceeded"},"500":{"description":"Internal server error or service temporarily unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":"API request failed"}}}}},"parameters":[{"name":"url","in":"query","required":true,"schema":{"type":"string","example":"williamhgates"},"description":"LinkedIn profile URL or username. Accepts both: plain username (e.g., \"williamhgates\") or full URL (e.g., \"https://www.linkedin.com/in/williamhgates\")"}],"description":"Get the number of connections and followers for a LinkedIn profile. Useful for measuring reach, influence, and network size."}},"/people/recommendations/received":{"get":{"tags":["LinkedIn - People"],"summary":"Received Recommendations","operationId":"people_recommendations_received","security":[{"ApiKeyAuth":[]}],"x-codeSamples":[{"lang":"curl","label":"cURL","source":"curl \"https://api.netrows.com/v1/people/recommendations/received?url=williamhgates&start=0\" \\\n  -H \"Authorization: Bearer YOUR_API_KEY\""},{"lang":"python","label":"Python","source":"import requests\n\nurl = \"https://api.netrows.com/v1/people/recommendations/received\"\nheaders = {\n    \"Authorization\": \"Bearer YOUR_API_KEY\"\n}\nparams = {\n    \"url\": \"williamhgates\",\n    \"start\": \"0\"\n}\n\nresponse = requests.get(url, headers=headers, params=params)\nprint(response.json())"},{"lang":"javascript","label":"JavaScript (fetch)","source":"fetch('https://api.netrows.com/v1/people/recommendations/received?url=williamhgates&start=0', {\n  headers: {\n    'Authorization': 'Bearer YOUR_API_KEY'\n  }\n})\n  .then(response => response.json())\n  .then(data => console.log(data));"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object"},"examples":{"Successful response":{"summary":"Example response","value":{"success":true,"username":"williamhgates","recommendations":[{"recommender":{"username":"satyanadella","name":"Satya Nadella","headline":"Chairman and CEO at Microsoft","profilePicture":"https://media.licdn.com/dms/image/..."},"text":"Bill is an exceptional leader with a vision for technology that has transformed the world...","relationship":"Colleague","recommendedAt":"2023-06-15T10:00:00Z"}],"paging":{"total":45,"start":0,"count":10}}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/UnauthorizedError"},"402":{"$ref":"#/components/responses/InsufficientCredits"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/RateLimitExceeded"},"500":{"description":"Internal server error or service temporarily unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":"API request failed"}}}}},"parameters":[{"name":"url","in":"query","required":true,"schema":{"type":"string","example":"williamhgates"},"description":"LinkedIn profile URL or username. Accepts both: plain username (e.g., \"williamhgates\") or full URL (e.g., \"https://www.linkedin.com/in/williamhgates\")"},{"name":"start","in":"query","required":false,"schema":{"type":"string","example":"0"},"description":"Pagination offset"}],"description":"Get recommendations received by a LinkedIn profile from colleagues and connections. Useful for validating expertise and professional reputation."}},"/people/recommendations/given":{"get":{"tags":["LinkedIn - People"],"summary":"Given Recommendations","operationId":"people_recommendations_given","security":[{"ApiKeyAuth":[]}],"x-codeSamples":[{"lang":"curl","label":"cURL","source":"curl \"https://api.netrows.com/v1/people/recommendations/given?url=williamhgates&start=0\" \\\n  -H \"Authorization: Bearer YOUR_API_KEY\""},{"lang":"python","label":"Python","source":"import requests\n\nurl = \"https://api.netrows.com/v1/people/recommendations/given\"\nheaders = {\n    \"Authorization\": \"Bearer YOUR_API_KEY\"\n}\nparams = {\n    \"url\": \"williamhgates\",\n    \"start\": \"0\"\n}\n\nresponse = requests.get(url, headers=headers, params=params)\nprint(response.json())"},{"lang":"javascript","label":"JavaScript (fetch)","source":"fetch('https://api.netrows.com/v1/people/recommendations/given?url=williamhgates&start=0', {\n  headers: {\n    'Authorization': 'Bearer YOUR_API_KEY'\n  }\n})\n  .then(response => response.json())\n  .then(data => console.log(data));"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object"},"examples":{"Successful response":{"summary":"Example response","value":{"success":true,"username":"williamhgates","recommendations":[{"recipient":{"username":"melindafrenchgates","name":"Melinda French Gates","headline":"Co-chair, Bill & Melinda Gates Foundation","profilePicture":"https://media.licdn.com/dms/image/..."},"text":"Melinda is an incredible leader and advocate for global health...","relationship":"Colleague","recommendedAt":"2023-05-20T10:00:00Z"}],"paging":{"total":23,"start":0,"count":10}}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/UnauthorizedError"},"402":{"$ref":"#/components/responses/InsufficientCredits"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/RateLimitExceeded"},"500":{"description":"Internal server error or service temporarily unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":"API request failed"}}}}},"parameters":[{"name":"url","in":"query","required":true,"schema":{"type":"string","example":"williamhgates"},"description":"LinkedIn profile URL or username. Accepts both: plain username (e.g., \"williamhgates\") or full URL (e.g., \"https://www.linkedin.com/in/williamhgates\")"},{"name":"start","in":"query","required":false,"schema":{"type":"string","example":"0"},"description":"Pagination offset"}],"description":"Get recommendations given by a LinkedIn profile to others. Useful for understanding professional relationships and network quality."}},"/people/likes":{"get":{"tags":["LinkedIn - People"],"summary":"Profile Reactions (Likes)","operationId":"people_likes","security":[{"ApiKeyAuth":[]}],"x-codeSamples":[{"lang":"curl","label":"cURL","source":"curl \"https://api.netrows.com/v1/people/likes?url=williamhgates&start=0\" \\\n  -H \"Authorization: Bearer YOUR_API_KEY\""},{"lang":"python","label":"Python","source":"import requests\n\nurl = \"https://api.netrows.com/v1/people/likes\"\nheaders = {\n    \"Authorization\": \"Bearer YOUR_API_KEY\"\n}\nparams = {\n    \"url\": \"williamhgates\",\n    \"start\": \"0\",\n    \"paginationToken\": \"value\"\n}\n\nresponse = requests.get(url, headers=headers, params=params)\nprint(response.json())"},{"lang":"javascript","label":"JavaScript (fetch)","source":"fetch('https://api.netrows.com/v1/people/likes?url=williamhgates&start=0&paginationToken=value', {\n  headers: {\n    'Authorization': 'Bearer YOUR_API_KEY'\n  }\n})\n  .then(response => response.json())\n  .then(data => console.log(data));"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object"},"examples":{"Successful response":{"summary":"Example response","value":{"success":true,"username":"williamhgates","reactions":[{"postUrn":"urn:li:activity:7123456789012345678","reactionType":"LIKE","reactedAt":"2024-01-15T09:30:00Z","post":{"author":"Satya Nadella","text":"Excited to announce...","postedAt":"2024-01-15T08:00:00Z"}}],"paging":{"total":1250,"start":0,"count":10,"paginationToken":"next_page_token"}}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/UnauthorizedError"},"402":{"$ref":"#/components/responses/InsufficientCredits"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/RateLimitExceeded"},"500":{"description":"Internal server error or service temporarily unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":"API request failed"}}}}},"parameters":[{"name":"url","in":"query","required":true,"schema":{"type":"string","example":"williamhgates"},"description":"LinkedIn profile URL or username. Accepts both: plain username (e.g., \"williamhgates\") or full URL (e.g., \"https://www.linkedin.com/in/williamhgates\")"},{"name":"start","in":"query","required":false,"schema":{"type":"string","example":"0"},"description":"Pagination offset"},{"name":"paginationToken","in":"query","required":false,"schema":{"type":"string"},"description":"Token for next page of results"}],"description":"Retrieve all posts and content that a profile has reacted to (liked). Useful for understanding interests and engagement patterns."}},"/people/about":{"get":{"tags":["LinkedIn - People"],"summary":"Profile Metadata","operationId":"people_about","security":[{"ApiKeyAuth":[]}],"x-codeSamples":[{"lang":"curl","label":"cURL","source":"curl \"https://api.netrows.com/v1/people/about?url=williamhgates\" \\\n  -H \"Authorization: Bearer YOUR_API_KEY\""},{"lang":"python","label":"Python","source":"import requests\n\nurl = \"https://api.netrows.com/v1/people/about\"\nheaders = {\n    \"Authorization\": \"Bearer YOUR_API_KEY\"\n}\nparams = {\n    \"url\": \"williamhgates\"\n}\n\nresponse = requests.get(url, headers=headers, params=params)\nprint(response.json())"},{"lang":"javascript","label":"JavaScript (fetch)","source":"fetch('https://api.netrows.com/v1/people/about?url=williamhgates', {\n  headers: {\n    'Authorization': 'Bearer YOUR_API_KEY'\n  }\n})\n  .then(response => response.json())\n  .then(data => console.log(data));"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object"},"examples":{"Successful response":{"summary":"Example response","value":{"success":true,"username":"williamhgates","isVerified":true,"isPremium":true,"isInfluencer":true,"isOpenToWork":false,"isHiring":false,"profileCompleteness":95,"memberSince":"2009-03-15","lastUpdated":"2024-01-10T10:00:00Z"}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/UnauthorizedError"},"402":{"$ref":"#/components/responses/InsufficientCredits"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/RateLimitExceeded"},"500":{"description":"Internal server error or service temporarily unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":"API request failed"}}}}},"parameters":[{"name":"url","in":"query","required":true,"schema":{"type":"string","example":"williamhgates"},"description":"LinkedIn profile URL or username. Accepts both: plain username (e.g., \"williamhgates\") or full URL (e.g., \"https://www.linkedin.com/in/williamhgates\")"}],"description":"Get additional context about a LinkedIn profile including verification status, premium features, profile quality indicators, and account age."}},"/people/position-skills":{"get":{"tags":["LinkedIn - People"],"summary":"Position-Specific Skills","operationId":"people_position_skills","security":[{"ApiKeyAuth":[]}],"x-codeSamples":[{"lang":"curl","label":"cURL","source":"curl \"https://api.netrows.com/v1/people/position-skills?url=williamhgates\" \\\n  -H \"Authorization: Bearer YOUR_API_KEY\""},{"lang":"python","label":"Python","source":"import requests\n\nurl = \"https://api.netrows.com/v1/people/position-skills\"\nheaders = {\n    \"Authorization\": \"Bearer YOUR_API_KEY\"\n}\nparams = {\n    \"url\": \"williamhgates\"\n}\n\nresponse = requests.get(url, headers=headers, params=params)\nprint(response.json())"},{"lang":"javascript","label":"JavaScript (fetch)","source":"fetch('https://api.netrows.com/v1/people/position-skills?url=williamhgates', {\n  headers: {\n    'Authorization': 'Bearer YOUR_API_KEY'\n  }\n})\n  .then(response => response.json())\n  .then(data => console.log(data));"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object"},"examples":{"Successful response":{"summary":"Example response","value":{"success":true,"username":"williamhgates","positions":[{"companyName":"Microsoft","title":"Co-founder","startDate":"1975-04-01","endDate":"2020-03-01","skills":["Software Development","Business Strategy","Leadership","Product Management","Operating Systems"]},{"companyName":"Bill & Melinda Gates Foundation","title":"Co-chair","startDate":"2000-01-01","endDate":null,"skills":["Philanthropy","Global Health","Strategic Planning","Public Speaking","Partnership Development"]}]}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/UnauthorizedError"},"402":{"$ref":"#/components/responses/InsufficientCredits"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/RateLimitExceeded"},"500":{"description":"Internal server error or service temporarily unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":"API request failed"}}}}},"parameters":[{"name":"url","in":"query","required":true,"schema":{"type":"string","example":"williamhgates"},"description":"LinkedIn profile URL or username. Accepts both: plain username (e.g., \"williamhgates\") or full URL (e.g., \"https://www.linkedin.com/in/williamhgates\")"}],"description":"Get detailed skills associated with each position in a profile's work history. Useful for understanding skill development over time and role-specific expertise."}},"/people/interests/companies":{"get":{"tags":["LinkedIn - People"],"summary":"Profile Company Interests","operationId":"people_interests_companies","security":[{"ApiKeyAuth":[]}],"x-codeSamples":[{"lang":"curl","label":"cURL","source":"curl \"https://api.netrows.com/v1/people/interests/companies?url=williamhgates&page=1\" \\\n  -H \"Authorization: Bearer YOUR_API_KEY\""},{"lang":"python","label":"Python","source":"import requests\n\nurl = \"https://api.netrows.com/v1/people/interests/companies\"\nheaders = {\n    \"Authorization\": \"Bearer YOUR_API_KEY\"\n}\nparams = {\n    \"url\": \"williamhgates\",\n    \"page\": \"1\"\n}\n\nresponse = requests.get(url, headers=headers, params=params)\nprint(response.json())"},{"lang":"javascript","label":"JavaScript (fetch)","source":"fetch('https://api.netrows.com/v1/people/interests/companies?url=williamhgates&page=1', {\n  headers: {\n    'Authorization': 'Bearer YOUR_API_KEY'\n  }\n})\n  .then(response => response.json())\n  .then(data => console.log(data));"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object"},"examples":{"Successful response":{"summary":"Example response","value":{"success":true,"username":"williamhgates","companies":[{"companyName":"Microsoft","companyUsername":"microsoft","industry":"Computer Software","followerCount":15000000,"employeeCount":220000},{"companyName":"Tesla","companyUsername":"tesla-motors","industry":"Automotive","followerCount":12000000,"employeeCount":127000}],"paging":{"total":45,"page":1,"hasMore":true}}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/UnauthorizedError"},"402":{"$ref":"#/components/responses/InsufficientCredits"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/RateLimitExceeded"},"500":{"description":"Internal server error or service temporarily unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":"API request failed"}}}}},"parameters":[{"name":"url","in":"query","required":true,"schema":{"type":"string","example":"williamhgates"},"description":"LinkedIn profile URL or username. Accepts both: plain username (e.g., \"williamhgates\") or full URL (e.g., \"https://www.linkedin.com/in/williamhgates\")"},{"name":"page","in":"query","required":false,"schema":{"type":"number","example":1},"description":"Page number for pagination (starts at 1)"}],"description":"Retrieve companies that a profile follows or has shown interest in. Useful for understanding professional interests and potential business connections."}},"/people/interests/top-voices":{"get":{"tags":["LinkedIn - People"],"summary":"Profile Top Voice Interests","operationId":"people_interests_top_voices","security":[{"ApiKeyAuth":[]}],"x-codeSamples":[{"lang":"curl","label":"cURL","source":"curl \"https://api.netrows.com/v1/people/interests/top-voices?url=williamhgates\" \\\n  -H \"Authorization: Bearer YOUR_API_KEY\""},{"lang":"python","label":"Python","source":"import requests\n\nurl = \"https://api.netrows.com/v1/people/interests/top-voices\"\nheaders = {\n    \"Authorization\": \"Bearer YOUR_API_KEY\"\n}\nparams = {\n    \"url\": \"williamhgates\"\n}\n\nresponse = requests.get(url, headers=headers, params=params)\nprint(response.json())"},{"lang":"javascript","label":"JavaScript (fetch)","source":"fetch('https://api.netrows.com/v1/people/interests/top-voices?url=williamhgates', {\n  headers: {\n    'Authorization': 'Bearer YOUR_API_KEY'\n  }\n})\n  .then(response => response.json())\n  .then(data => console.log(data));"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object"},"examples":{"Successful response":{"summary":"Example response","value":{"success":true,"username":"williamhgates","topVoices":[{"username":"naval","name":"Naval Ravikant","headline":"Entrepreneur and Investor","followerCount":2500000,"topics":["Startups","Philosophy","Investing"]}],"total":23}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/UnauthorizedError"},"402":{"$ref":"#/components/responses/InsufficientCredits"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"$ref":"#/components/responses/RateLimitExceeded"},"500":{"description":"Internal server error or service temporarily unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":"API request failed"}}}}},"parameters":[{"name":"url","in":"query","required":true,"schema":{"type":"string","example":"williamhgates"},"description":"LinkedIn profile URL or username. Accepts both: plain username (e.g., \"williamhgates\") or full URL (e.g., \"https://www.linkedin.com/in/williamhgates\")"}],"description":"Retrieve LinkedIn Top Voices (influencers) that a profile follows. Useful for identifying thought leadership interests."}},"/people/interests/groups":{"get":{"tags":["LinkedIn - People"],"summary":"Profile Group Interests","operationId":"people_interests_groups","security":[{"ApiKeyAuth":[]}],"x-codeSamples":[{"lang":"curl","label":"cURL","source":"curl \"https://api.netrows.com/v1/people/interests/groups?url=williamhgates&page=1\" \\\n  -H \"Authorization: Bearer YOUR_API_KEY\""},{"lang":"python","label":"Python","source":"import requests\n\nurl = \"https://api.netrows.com/v1/people/interests/groups\"\nheaders = {\n    \"Authorization\": \"Bearer YOUR_API_KEY\"\n}\nparams = {\n    \"url\": \"williamhgates\",\n    \"page\": \"1\"\n}\n\nresponse = requests.get(url, headers=headers, params=params)\nprint(response.json())"},{"lang":"javascript","label":"JavaScript (fetch)","source":"fetch('https://api.netrows.com/v1/people/interests/groups?url=willia
[...]
